/*
    * Busy 收集 整理
 */
/*雅虎（YUI 3）reset*/
/*Normalize.css*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Hex-monograms";
  src: url('../fonts/Hex-monograms.otf') format('otf'), url('../fonts/Hex-monograms.ttf') format('truetype'), url('../fonts/Hex-ornate.otf') format('otf'), url('../fonts/Hex-ornate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ch';
  src: url(../fonts/ch.woff) format('woff');
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(../fonts/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(../fonts/NbE6ykYuM2IyEwxQxOIi2HNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@media not print {
  .only-print {
    display: none !important;
  }
}
@media print {
  .only-screen {
    display: none !important;
  }
}
body {
  font: 500 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  background: #dddddd;
}
@media print {
  body {
    font: 500 10px PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  }
  body a {
    text-decoration: underline;
  }
}
a:hover {
  color: #D0648A;
}
.clr {
  width: 0;
  height: 0;
  overflow: hidden;
}
.emphasis {
  color: #D0648A;
  font-weight: bold;
  text-shadow: 1px 1px 1px #f2bed1;
}
@media screen and (max-width: 680px) {
  .emphasis {
    padding: 0 0 0 42px !important;
  }
}
.bold {
  font-weight: 700;
}
.mainBody {
  width: 90%;
  max-width: 960px;
  margin: 3em auto;
  background: #84cad7;
  border-radius: 3px;
  box-shadow: 5px 7px 10px 10px #999999;
}
@media print {
  .mainBody {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 680px) {
  .mainBody {
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}
header {
  height: 110px;
  background-color: #F3FAFB;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
@media print {
  header {
    height: 60px;
    padding: 0 7%;
  }
}
@media screen and (max-width: 680px) {
  header {
    height: 60px;
    padding: 0 7%;
  }
}
header #logo {
  font-family: 'Hex-monograms';
  font-size: 70px;
  color: #84cad7;
  padding: 13px 9px -2px 3px;
  line-height: 70px;
}
@media screen and (max-width: 680px) {
  header #logo {
    font-size: 55px;
    margin-top: 10px;
  }
}
header .null {
  flex: 1;
}
header #bigName {
  color: #84cad7;
  margin: 12px auto;
}
@media print {
  header #bigName {
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  header #bigName {
    margin: 0;
  }
}
header .online {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
}
@media print {
  header .online {
    display: inline-block;
  }
}
.content {
  margin: 0 auto;
  padding: 5% 10%;
  position: relative;
}
@media print {
  .content {
    padding: 0;
  }
}
@media screen and (max-width: 680px) {
  .content {
    padding: 3% 0;
  }
}
.content .term {
  position: relative;
}
@media screen and (max-width: 680px) {
  .content .term {
    margin-bottom: 21px;
  }
}
.content .term .icon {
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.content .term .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media print {
  .content .term .icon {
    height: 15px;
    visibility: hidden;
  }
}
@media screen and (max-width: 680px) {
  .content .term .icon {
    height: 5px;
    width: 5px;
    visibility: hidden;
  }
}
.content .term h3 {
  display: inline-block;
  line-height: 30px;
  margin-left: 20px;
  position: absolute;
}
@media print {
  .content .term h3 {
    height: 60px;
    line-height: 40px;
    left: 25px;
  }
}
@media screen and (max-width: 680px) {
  .content .term h3 {
    line-height: 15px;
    left: 25px;
    margin-left: 0;
  }
}
.content .term .line {
  height: 2px;
  width: 150px;
  background-color: #000000;
  position: absolute;
  top: 32px;
  left: 15px;
}
@media print {
  .content .term .line {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .content .term .line {
    display: none;
  }
}
.content .term .line-extend {
  width: 250px;
}
.content .term .line-middle {
  width: 200px;
}
.content .term > ul,
.content .term p {
  padding: 10px 43px;
  line-height: 30px;
}
@media print {
  .content .term > ul,
  .content .term p {
    line-height: 20px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 680px) {
  .content .term > ul,
  .content .term p {
    line-height: 20px;
    padding: 0 24px;
  }
}
.content .term > ul .fa,
.content .term p .fa {
  margin-right: 8px;
}
.content .term > ul ul li,
.content .term p ul li {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 680px) {
  .content .term > ul ul li,
  .content .term p ul li {
    display: block;
  }
}
.content .term > ul ul li .fa,
.content .term p ul li .fa {
  margin-top: 7px;
}
.content .term > ul span,
.content .term p span {
  display: inline-block;
}
.content .term > ul .blank,
.content .term p .blank {
  padding: 0 4px;
}
.content .term > ul .blank-row,
.content .term p .blank-row {
  padding: 0 13px;
}
.content .term > ul .hide,
.content .term p .hide {
  display: none;
}
.content .term > ul .more,
.content .term p .more,
.content .term > ul .less,
.content .term p .less {
  position: absolute;
  width: 70px;
  height: 20px;
  line-height: 20px;
  right: 44px;
  bottom: 8px;
  z-index: 1;
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.content .term > ul .less,
.content .term p .less {
  display: none;
}
.content .term > ul input,
.content .term p input {
  width: 70px;
  height: 20px;
  position: absolute;
  right: 44px;
  bottom: 2px;
  opacity: 0;
}
.content .term > ul input:hover,
.content .term p input:hover {
  cursor: pointer;
}
.content .term > ul .more-input,
.content .term p .more-input {
  z-index: 3;
}
.content .term > ul .more-input:checked,
.content .term p .more-input:checked {
  display: none;
}
.content .term > ul .more-input:checked ~ .hide,
.content .term p .more-input:checked ~ .hide {
  display: block;
}
.content .term > ul .more-input:checked ~ .more,
.content .term p .more-input:checked ~ .more {
  display: none;
}
.content .term > ul .more-input:checked ~ .less,
.content .term p .more-input:checked ~ .less {
  display: block;
}
.content .term > ul .less-input,
.content .term p .less-input {
  z-index: 2;
}
.content .term > ul .less-input:checked ~ .more-input,
.content .term p .less-input:checked ~ .more-input {
  display: block;
}
.content .term > ul .less-input:checked ~ .hide,
.content .term p .less-input:checked ~ .hide {
  display: none;
}
.content .term > ul .less-input:checked ~ .more,
.content .term p .less-input:checked ~ .more {
  display: block;
}
.content .term > ul .less-input:checked ~ .less,
.content .term p .less-input:checked ~ .less {
  display: none;
}
.content .term a:hover {
  text-decoration: underline;
}
.content .term a:focus {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.content .term .con {
  display: block;
  margin-left: 32px;
}
.content .term .sk-icon-r {
  margin: 0 0 0 8px;
}
.content .term .source {
  float: right;
  margin-right: 18px;
}
.content .term .source a {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
.content .term .source .fa {
  color: #D0648A;
}
.download {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
@media screen and (max-width: 1256px) {
  .download {
    display: none;
  }
}
.download ul li {
  background: #84cad7;
  width: 64px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #999999;
}
.download ul li a {
  color: #000;
}
.download ul li a:hover {
  color: #D0648A;
  text-decoration: underline;
}
.download ul li:first-child {
  margin-bottom: 20px;
}
