@charset "UTF-8";
@font-face {
  font-family: "Hex-monograms";
  src: url('../font/Hex-monograms.otf') format('otf'), url('../font/Hex-monograms.ttf') format('truetype'), url('../font/Hex-ornate.otf') format('otf'), url('../font/Hex-ornate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  font: 500 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
  background: url(../img/tiny_grid.png) repeat top left;
}
#mainBody {
  display: flex;
}
#mainBody .mainBody {
  width: 100%;
}
#mainBody .mainBody header {
  z-index: 10;
  position: fixed;
  height: 200px;
  width: 100%;
  background: #88d6e5;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
#mainBody .mainBody header .blank {
  flex: 1;
}
#mainBody .mainBody header .head1 {
  margin-left: 30px;
  flex: 1;
  display: flex;
}
#mainBody .mainBody header .head1 .logoSmall {
  width: 266px;
  font-size: 31px;
  color: #F3FAFB;
}
#mainBody .mainBody header .head1 .logoSmall a {
  color: #F3FAFB;
  text-decoration: none;
}
#mainBody .mainBody header .head1 .logoSmall a:hover {
  text-decoration: none;
}
#mainBody .mainBody header .head1 ul {
  height: 30px;
  width: 331px;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 14px;
}
#mainBody .mainBody header .head1 ul li {
  padding: 0.4em 2.2em;
  border-left: 2px solid #F3FAFB;
}
#mainBody .mainBody header .head1 ul li:first-child {
  margin-left: 0;
  border: none;
}
#mainBody .mainBody header .head1 ul li a {
  color: #F3FAFB;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.06em;
  transition: all 0.3s;
}
#mainBody .mainBody header .head1 ul li a:hover {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
#mainBody .mainBody header .head2 {
  flex: 4;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#mainBody .mainBody header .head2 .logo {
  font-family: "Hex-monograms";
  font-size: 90px;
  color: #F3FAFB;
  width: 88px;
  height: 159px;
  line-height: 159px;
}
#mainBody .mainBody header .head2 .logo a {
  color: #F3FAFB;
  text-decoration: none;
}
#mainBody .mainBody header .head2 .logo a:hover {
  text-decoration: none;
}
#mainBody .mainBody header .head2 .proverb {
  flex: 1;
  text-align: center;
  height: 159px;
  line-height: 159px;
  color: #F3FAFB;
  font-size: 36px;
}
#mainBody .mainBody .main {
  flex: 1;
  width: 80%;
  margin: 200px auto 0;
  min-height: 800px;
  z-index: 0;
}
#mainBody .mainBody .main .content {
  display: flex;
  margin: auto;
}
#mainBody .mainBody .main .content .leftArea {
  width: 200px;
}
#mainBody .mainBody .main .content .leftArea .classify {
  width: 150px;
  font-size: 14px;
  position: fixed;
  transition: all 0.2s ease-in-out;
}
#mainBody .mainBody .main .content .leftArea .classify h2 {
  color: #1cc6e9;
  text-shadow: 2px 2px #EFEFEF;
  font-size: 26px;
  margin: 20px;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul {
  display: flex;
  flex-direction: column;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul li {
  flex: 1;
  display: block;
  background: #88d6e5;
  margin: 3px;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul li a {
  display: block;
  background: #88d6e5;
  padding: 0 25px 0 17px;
  text-decoration: none;
  color: #F3FAFB;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  text-align: left;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul li a .fa {
  float: right;
  display: inline;
  line-height: 30px;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul li a:hover {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
  box-shadow: #ddd 3px 3px 3px 3px;
  animation: moveRight 0.6s ease-in-out forwards;
}
#mainBody .mainBody .main .content .leftArea .classify nav ul li a:hover .fa {
  color: #F3FAFB;
  box-shadow: none;
  text-shadow: none;
}
#mainBody .mainBody .main .content .rightArea {
  flex: 1;
  color: #444;
}
#mainBody .mainBody .main .content .rightArea .nav {
  margin: 43px 0 0 0;
}
#mainBody .mainBody .main .content .rightArea .nav li {
  position: relative;
  margin: 0 40px 40px 40px;
  background: #F3FAFB;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 5px;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside {
  margin: 0 30px 0 30px;
  padding: 30px 0 20px;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .title {
  font-size: 2.8em;
  font-weight: 900;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .title a {
  color: #1cc6e9;
  text-shadow: 1px 1px #EFEFEF, 2px 2px #CCC;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .title a:hover {
  text-decoration: none;
  color: #D0648A;
  text-shadow: 1px 1px #EFEFEF,2px 2px #f2bed1;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .tag,
#mainBody .mainBody .main .content .rightArea .nav li .inside .date {
  font-size: 1.05em;
  line-height: 4.5em;
  padding: 0 20px 0 10px;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .description {
  line-height: 1.7em;
  font-size: 1.35em;
  margin: 0 0 20px 0;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .more {
  line-height: 1.7em;
  font-size: 1.05em;
  margin: 0 0 20px 0;
}
#mainBody .mainBody .main .content .rightArea .nav li .inside .more a {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
#mainBody .mainBody .main .content .rightArea .nav li:hover {
  animation: moveUp 0.6s ease-in-out forwards;
}
#mainBody .mainBody .main .content .rightArea .article {
  max-width: 960px;
  margin: 43px auto;
  box-shadow: 5px 10px 10px #ddd;
  background: #F3FAFB;
}
#mainBody .mainBody .main .content .rightArea .article ul,
#mainBody .mainBody .main .content .rightArea .article ol,
#mainBody .mainBody .main .content .rightArea .article dir {
  list-style-type: disc;
}
#mainBody .mainBody .main .content .rightArea .article li {
  list-style: disc;
}
#mainBody .mainBody .main .content .rightArea .article .inside {
  margin: 0 30px 0 30px;
  padding: 5% 10%;
}
#mainBody .mainBody .main .content .rightArea .article .inside .title {
  font-size: 3.1em;
  font-weight: 900;
  color: #1cc6e9;
  text-shadow: 1px 1px #EFEFEF, 2px 2px #CCC;
}
#mainBody .mainBody .main .content .rightArea .article .inside .icon {
  padding: 0 0 0 20px;
}
#mainBody .mainBody .main .content .rightArea .article .inside .icon .tag,
#mainBody .mainBody .main .content .rightArea .article .inside .icon .date {
  font-size: 1.05em;
  line-height: 4.5em;
  padding: 0 20px 0 10px;
}
#mainBody .mainBody .main .content .rightArea .article .inside .description {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.7em;
  margin: 0 0 20px 0;
}
#mainBody .mainBody .main .content .rightArea .article .inside .description p {
  margin: 0 0 35px;
}
#mainBody .mainBody .main .content .rightArea .article .inside .more {
  line-height: 1.7em;
  font-size: 16px;
  margin: 0 0 20px 0;
}
#mainBody .mainBody .main .content .rightArea .article .inside .more a {
  color: #D0648A;
  text-shadow: 1px 1px 1px #f2bed1;
}
#mainBody .mainBody .main .content .rightArea .article .inside h1,
#mainBody .mainBody .main .content .rightArea .article .inside h2,
#mainBody .mainBody .main .content .rightArea .article .inside h3,
#mainBody .mainBody .main .content .rightArea .article .inside h4,
#mainBody .mainBody .main .content .rightArea .article .inside h5,
#mainBody .mainBody .main .content .rightArea .article .inside h6 {
  font-weight: 700;
  line-height: 1.7;
  cursor: text;
  position: relative;
  margin: 1em 0 15px;
  padding: 0;
}
#mainBody .mainBody .main .content .rightArea .article .inside h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}
#mainBody .mainBody .main .content .rightArea .article .inside h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
#mainBody .mainBody .main .content .rightArea .article .inside h3 {
  font-size: 1.5em;
}
#mainBody .mainBody .main .content .rightArea .article .inside h4 {
  font-size: 1.2em;
}
#mainBody .mainBody .main .content .rightArea .article .inside h5 {
  font-size: 1em;
}
#mainBody .mainBody .main .content .rightArea .article .inside h6 {
  color: #777;
  font-size: 1em;
}
footer {
  height: 80px;
  background: #ebebed;
}
footer .con {
  width: 480px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
footer .con .menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .con .menu li {
  flex: 1;
  text-align: center;
}
footer .con .contact {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .con .contact li {
  flex: 1;
  text-align: center;
}
footer ul {
  flex: 1;
  margin: 0;
}
footer ul a {
  color: #000;
  font-size: 12px;
}
footer .fa {
  margin: 0 4px;
}
@keyframes moveRight {
  0% {
    padding: 0 25px 0 17px;
  }
  100% {
    padding: 0 10px 0 17px;
  }
}
